version: "3.9"

services:
  tomcat:
    image: tomcat:11.0.0-M6-jdk17 # Tomcat 11 con JDK 17
    container_name: tomcat-taskmanager
    environment:
      - CATALINA_HOME=/usr/local/tomcat
      - CATALINA_BASE=/usr/local/tomcat
      # Usuario para acceder al manager y host-manager
      - TOMCAT_USERNAME=admin
      - TOMCAT_PASSWORD=admin
    ports:
      - "8080:8080" # Tomcat
      - "8009:8009" # AJP (opcional)
    volumes:
      - ./webapps:/usr/local/tomcat/webapps # Tu WAR local se montará aquí
    networks:
      - backend
    command: >
      sh -c "
        echo 'manager-gui:tomcat=${TOMCAT_PASSWORD},manager-gui,manager-script,manager-jmx,manager-status' >> /usr/local/tomcat/conf/tomcat-users.xml &&
        catalina.sh run
      "

networks:
  backend:

volumes:
  pgdata:
